.veneersbody{
    margin: 40px 150px;
    color: #777;
    line-height: 25px;
}
.pspecialists{
    color: #777;
    font-weight: 400;
}
.staticheading{
    font-size: 27px;
    color: #3c3c3c;
    font-weight: 700;
}
.staticsubheading{
    font-weight: 700;
}
@media only screen and (max-width: 800px) {
    .veneersbody{
        margin: 40px 80px;
    }
}
@media only screen and (max-width: 550px) {
    .veneersbody{
        margin: 40px 50px;
    }
}