.logotext{
    margin-left: 4px;
    color: #fcbd2e;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.cardHover{
    cursor: pointer
}